.box
{
    border:1px solid red;
    width:35%;
    height:60vh;
    padding:50px;
    border-radius: 35px;
    margin-left:90px;
    position:absolute;
    top:420vh;
    background-color: wheat;

}
.gmap
{
    float:right;
    margin-top:100px;
    margin-right:100px;
}
#tab
{
    border-bottom:1px solid red;
    cursor: pointer;
    
}
#review
{
    cursor: pointer;
}
.line
{
    border:1px solid hotpink;
    margin-top:30px;
    width:50%;
    margin-left:140px;
}
.d
{
    border:1px solid red;
    margin-top:100px;
    height:30vh;
    text-align: center;
    background-color: whitesmoke;
}
.d p
{
    margin-top:40px;
}
.c4
{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjInq_oY3UhFCrbD_giCrFv1QIThAcSFeVgQ&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
}